<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="bootstrap-4.3.1-dist/css/login.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<!------ Include the above in your HEAD tag ---------->

    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>

<body>

<div class="container login-container">

    <div class="row">

        <div class="col-md-6 login-form-1">

            <h3>Patient or NOK</h3>

                <form method="post" action="/">

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Your ID *" name='user_id' />

                    </div>

                    <div class="form-group">

                        <input type="password" class="form-control" placeholder="Your Password *" name='user_pw'/>

                    </div>

                

                    <div class="form-group">

                       <button type="submit" class="btnSubmit">Login</button>

                    </div>

                </form>

                <div class="form-group">

                    <a href="#" class="btnForgetPwd">Forget Password?</a>

                </div>

            

        </div>

        <div class="col-md-6 login-form-2">

            <div class="login-logo">

                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>

            </div>

            <h3>Medical Staff</h3>

            <form method="post" action="/">

                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Your ID *" name="user_id" />

                </div>

                <div class="form-group">

                    <input type="password" class="form-control" placeholder="Your Password *" name="user_pw" />

                </div>

                <div class="form-group">

                    <input type="submit" class="btnSubmit" value="Login" />

                </div>

            </form>

            <div class="form-group">

                    <a href="#" class="btnForgetPwd" value="Login">Forget Password?</a>

                </div>

            

        </div>

    </div>

</div>

</body>

</html>
