html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.top-div { 
    background: url(/images/top_back.jpg); 
    background-size: cover;
    height: 7vw;
  }
.board{
    position: absolute;
    background-color:#f2f2f2;
    height:110vw;
    width:80vw;
    margin-left:9vw;
    margin-top:2vw;
}

.text_box{
    margin-top:1vw;
    margin-left:2vw;
    text-align-last: left;
    font-size:1vw;
}

.filter_button{
    width:2vw;
    height:2vw;
    margin-left:41vw;
    position: absolute;
    top:4vw;
}

footer{
    font-family : nanumUltra;
    position:absolute;
    bottom:-90vw;
    height:6.8vw;
    width:100%;
    background-color:rgb(255, 80, 80);
}

.search{
    font-family : nanumUltra;
    margin-left: 26vw; position:absolute; top:4vw;width:15vw;height: 2vw;
                 background-color : rgb(218, 218, 218); border:1px solid black;
}

table{
    font-family : nanumUltra;
    text-align: center;
    width: 75vw;
}

table td,th{
    font-size:1vw;
    padding: 0.8vw;
    height:2vw;
    border:2px solid white;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:nth-child(odd){background-color: rgb(233, 233, 233);}
table tr:hover {background-color: rgba(255, 80, 80,0.2);}
table th {
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
  background-color: rgb(81, 81, 81);
  font-size:1.2vw;
  color: white;
}

.table_div{
    margin-top:1vw;
    width: 77vw; height:20vw;
    margin-left:2vw;
    overflow: auto;
    border:none;
}

.menu_button{
    width:6vw;
    height:2vw;
    margin-top:2vw;
    font-size:1.2vw;
    color:white;
    background-color: rgba(255, 80, 80,0.8);
    outline:0;
    border:0;
    border-radius: 5px;
}

#modal_back { position:absolute; top:0; left:0; width:98.9vw; height:137.6vw; display:none; background:rgba(0,0,0,0.5); }

	#modal { margin:40vw;background:#FFF; color:#000; border-radius:6px; box-shadow:0 5px 15px rgba(0,0,0,0.5); }

	#modal a { color:#000; align-items: center;}
